  <div
    id="carouselExampleIndicators"
    class="carousel slide "
    data-bs-ride="carousel"
  >
    <div class="carousel-inner mx-auto">
      <div *ngFor="let imageurl of imageurls" class="carousel-item active">
        <img
          src="{{url + imageurl}}"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <ul class="list-group">
    <li class="list-group-item">Marka ismi: {{car.brandName}}</li>
    <li class="list-group-item" style="background-color:{{car.colorHexCode}}"><p >{{car.colorName}}</p></li>
    <li class="list-group-item">Model Yılı: {{car.modelYear}}</li>
    <li class="list-group-item">Günlük Ücret: {{car.dailyPrice}}</li>
    <li class="list-group-item">Açıklama: {{car.description}}</li>
  </ul>

